/*Draggable Box*/
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    height: 150px;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }


  /*Grid Div*/
  :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 20px;
    width: 20px;
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }



  /*TEST*/
  canvas {
    border: 1px solid #ccc;
}